<form action="post" *ngIf="showAddTask" (ngSubmit)='onSubmit()'>
    <div class="form-control">
        <label for="text">
            Task
        </label>
        <input type="text" name='text' id='text' [(ngModel)]='text' placeholder="Add Task"/>

    </div>
    <div class="form-control" >
        <label for="day">
            Day and Time    
        </label>
        <input type="text" [(ngModel)] = 'day' name='day' id='day' placeholder="Add day"/>

    </div>
    <div class="form-control form-control-check">
        <label for="reminder">
            reminder
        </label>
        <input [(ngModel)] = 'reminder' type="checkbox" name='reminder' id='reminder'/>
        <input type="submit" class="btn btn-block" value ='save'/>

    </div>
</form>